.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 8px 0;
}

/* Possible solution to code and text buttons flashing when create a new code or text cell */
/* active pseudo class selector is applied to any element that a user is actively interacting with - whenever a user is clicking on 'AddCell (Code or text), we'll temporarily apply an opacity of 0 and update the transition property to make sure that, that change in opacity occurs instantaneously (using 'important' modifier to ensure are overriding any other existing opacity rules */
/* .add-cell:active {
  opacity: 0 !important;
  transition: opacity 0s;
} */

.add-cell:hover {
  opacity: 1;
}

/* If an element has BOTH these classnames add an opacity of 1 (make visible) */
/* This selector is much more specific so it will definitely win when the two are compared */
.add-cell.force-visible {
  opacity: 1;
}

.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid gray;
  width: 95%;
  z-index: -1;
}

.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}

.add-cell .add-buttons button {
  margin: 0 20px;
}
